.movieGalleryItem {
  display: flex;
}

.movieGalleryImg {
  width: 200px;
  height: 300px;
}

.movieItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.movieGalleryDetailItem:not(:last-child) {
  margin-bottom: 10px;
}

